html, body {
    height: 100%;
    font-family: Calibri, sans-serif;
    background-color: lightgrey;
    color: rgb(25, 25, 25);
}

/* hiding the content sections by default */
.content {
    display: none;

    border: 5px double #1E3765;
    margin: 20px;
    padding: 10px;
    border-radius: 15px;
}

.images {
    display: flex;
    justify-content: space-around;
}

#seqbuttons {
    text-align: center;
    margin: 30px;
}

button {
    font-family: Calibri, sans-serif;
    color: #1E3765;
    background-color: skyblue;
    margin-right: 10px;
    margin-left: 10px;
}